<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Editor
    </ion-title>
    <ion-buttons slot="end" *ngIf="myImage && !editing">
      <ion-button fill="clear" slot="end"  (click)="setEditing(true)">
        <ion-icon name="crop-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button fill="clear" slot="end" *ngIf="cropped" (click)="saveToAlbum()">
        <ion-icon name="save-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button fill="clear" slot="end" *ngIf="cropped" (click)="shareImage()">
        <ion-icon name="share-social-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons> 
    <ion-buttons slot="end" *ngIf="editing">
      <ion-button fill="clear" color="danger" (click)="cancel()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button fill="clear" color="secondary" (click)="save()">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-text color="dark" *ngIf="!myImage">
          <h5>No hay imagen seleccionada</h5>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="col-wrapper">
        <div *ngIf="editing" class="image-wrapper">
          <image-cropper
            [imageBase64]="myImage"
            [maintainAspectRatio]="false"
            [aspectRatio]="4/3"
            format="jpeg"
            (imageCropped)="imageCropped($event)"
            outputType="base64"
            autoCrop="false"
            [canvasRotation]="canvasRotation"
            [transform]="transform"
          >
          </image-cropper>
        </div>
        <div *ngIf="!editing && myImage" class="image-wrapper">
          <img [src]="myImage" class="img">
        </div>
      </ion-col>
    </ion-row>
    <ion-footer *ngIf="editing" class="footer">
      <ion-row>
        <ion-col size="3">
          <ion-button fill="clear" expand="full" (click)="rotateLeft()">
            <ion-icon name="refresh" class="flipped" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button fill="clear" expand="full" (click)="rotateRight()">
            <ion-icon name="refresh" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button fill="clear" expand="full" (click)="flipX()">
            <ion-icon src="assets/arrow-left-right.svg" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button fill="clear" expand="full" (click)="flipY()">
            <ion-icon src="assets/arrow-up-down.svg" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-footer>
    <ion-button *ngIf="!editing" (click)="captureImage()" expand="block">
      {{ !myImage ? 'Escoger una imagen' : 'Escoger otra imagen'}} 
    </ion-button>
  </ion-grid>
</ion-content>
